.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  background-color: #579C87;
  justify-content: space-between;
  border-top: solid 2px #A1C181;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
}
@media screen and (max-device-width: 760px) {
  .footer {
    font-size: 1em;
  }
}
.footer__mentions--link {
  color: #FDCB46;
  padding-left: 10px;
}
.footer__contact--link {
  color: #FDCB46;
  padding-right: 10px;
}
.footer--wiggle:hover {
  display: inline-block;
  animation: wiggle 4s infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  3% {
    transform: rotate(-5deg);
  }
  5% {
    transform: rotate(5deg);
  }
  7% {
    transform: rotate(-5deg);
  }
  9% {
    transform: rotate(5deg);
  }
  11% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.heading {
  width: auto;
  background-color: #579C87;
  text-align: center;
  font-family: "Work sans", arial, sans-serif;
  border-bottom: solid 2px #A1C181;
  font-size: 1.8em;
  margin-bottom: 35px;
}
.heading--title {
  margin: 0;
  padding: 20px 0;
}
.heading--link {
  color: #FDCB46;
  letter-spacing: -3px;
}
.heading--link:hover {
  text-shadow: #FC0 1px 0 10px;
}

body {
  width: 100%;
  margin: auto;
  text-align: center;
}

a {
  text-decoration: none;
}

.soon {
  display: flex;
  width: 300px;
  margin: auto;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  margin-bottom: 120px;
  background-color: #579C87;
  color: #FDCB46;
}
.soon__title {
  margin: 0;
  padding: 10px 20px;
}
.soon__dot {
  font-size: 3em;
  line-height: 10px;
  padding-top: 13px;
}
.soon__dot--dot1 {
  animation: soon-dot1 2s infinite;
}
.soon__dot--dot2 {
  animation: soon-dot2 2s infinite;
}
.soon__dot--dot3 {
  animation: soon-dot3 2s infinite;
}

@keyframes soon-dot1 {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}
@keyframes soon-dot2 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes soon-dot3 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
section {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 35px;
  justify-content: center;
}

.menu1 .menu {
  width: 330px;
  height: 460px;
  box-shadow: 5px 5px 5px #F2F2F2, -5px -5px 5px #F2F2F2;
  display: inline-block;
  margin: 25px;
  background-color: #FCDFDB;
}
.menu1 .menu__heading--primary {
  font-family: "Devonshire", cursive;
  font-size: 2.3em;
  background: #3C1218 0% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  padding-top: 120px;
}
.menu1 .menu__heading--secondary {
  font-family: "Kalam", cursive;
  font-size: 2em;
  color: #3C1218;
  margin: 20px, 0;
}
.menu1 .menu--scale {
  height: 100%;
}
.menu1 .menu--scale:hover {
  transition: 1s;
  transform: scale(1.1);
  opacity: 0.5;
}
.menu1 .menu--img {
  width: 50px;
}

.menu2 .menu {
  width: 330px;
  height: 460px;
  box-shadow: 5px 5px 5px #F2F2F2, -5px -5px 5px #F2F2F2;
  display: inline-block;
  margin: 25px;
  background-color: #FFF5FE;
}
.menu2 .menu__heading--primary {
  font-family: "Croissant One", cursive;
  font-size: 1.4em;
  background: -webkit-linear-gradient(45deg, #C67413 30%, #6e4ccc 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  padding-top: 180px;
}
.menu2 .menu__heading--secondary {
  font-family: "IBM Plex Serif", serif;
  font-size: 1.5em;
  color: #C67413;
  margin: 20px, 0;
}
.menu2 .menu--scale {
  height: 100%;
}
.menu2 .menu--scale:hover {
  transition: 1s;
  transform: scale(1.1);
  opacity: 0.5;
}
.menu2 .menu--img {
  width: 50px;
}

.menu3 .menu {
  width: 330px;
  height: 460px;
  box-shadow: 5px 5px 5px #F2F2F2, -5px -5px 5px #F2F2F2;
  display: inline-block;
  margin: 25px;
  background-color: #EDEFEF;
}
.menu3 .menu__heading--primary {
  font-family: "Dancing Script", cursive;
  font-size: 2em;
  background: -webkit-linear-gradient(45deg, #0228DD 20%, #0887FB, #89C7F5 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  padding-top: 180px;
}
.menu3 .menu__heading--secondary {
  font-family: "Kalam", cursive;
  font-size: 2.5em;
  color: #0887FB;
  margin: 20px, 0;
}
.menu3 .menu--scale {
  height: 100%;
}
.menu3 .menu--scale:hover {
  transition: 1s;
  transform: scale(1.1);
  opacity: 0.5;
}
.menu3 .menu--img {
  width: 50px;
}

.menu4 .menu {
  width: 330px;
  height: 460px;
  box-shadow: 5px 5px 5px #F2F2F2, -5px -5px 5px #F2F2F2;
  display: inline-block;
  margin: 25px;
  background-color: #FDFFFD;
}
.menu4 .menu__heading--primary {
  font-family: "Kaushan Script", cursive;
  font-size: 2em;
  background: -webkit-linear-gradient(45deg, #3D9339 20%, #72BF56, #BFFF7E 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  padding-top: 180px;
}
.menu4 .menu__heading--secondary {
  font-family: "Kalam", cursive;
  font-size: 2.5em;
  color: #72BF56;
  margin: 20px, 0;
}
.menu4 .menu--scale {
  height: 100%;
}
.menu4 .menu--scale:hover {
  transition: 1s;
  transform: scale(1.1);
  opacity: 0.5;
}
.menu4 .menu--img {
  width: 50px;
}

/*# sourceMappingURL=style.css.map */
