.heading {
  width: 100%;
  background-color: #579C87;
  text-align: center;
  font-family: "Work sans", arial, sans-serif;
  border-bottom: solid 2px #A1C181;
  font-size: 1.8em;
  margin-bottom: 35px;
}
@media screen and (max-width: 599px) {
  .heading {
    font-size: 1.3em;
  }
}
.heading--title {
  margin: 0;
  padding: 20px 0;
}
.heading--link {
  color: #FDCB46;
  letter-spacing: -3px;
}
.heading--link:hover {
  text-shadow: #FC0 1px 0 10px;
}

.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  background-color: #579C87;
  justify-content: space-between;
  border-top: solid 2px #A1C181;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
}
@media screen and (max-width: 599px) {
  .footer {
    font-size: 1em;
  }
}
.footer__mentions--link {
  color: #FDCB46;
  padding-left: 10px;
}
.footer__contact--link {
  color: #FDCB46;
  padding-right: 10px;
}
.footer--wiggle:hover {
  display: inline-block;
  animation: wiggle 4s infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  3% {
    transform: rotate(-5deg);
  }
  5% {
    transform: rotate(5deg);
  }
  7% {
    transform: rotate(-5deg);
  }
  9% {
    transform: rotate(5deg);
  }
  11% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
body {
  width: 100%;
  margin: auto;
  text-align: center;
}

a {
  text-decoration: none;
}

.soon {
  display: flex;
  width: 300px;
  margin: auto;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  margin-bottom: 120px;
  background-color: #579C87;
  color: #FDCB46;
}
@media screen and (max-width: 599px) {
  .soon {
    width: 210px;
    border-radius: 7px;
    font-size: 0.7rem;
    margin-bottom: 84px;
  }
}
.soon__title {
  margin: 0;
  padding: 10px 20px;
}
@media screen and (max-width: 599px) {
  .soon__title {
    padding: 7px 14px;
  }
}
.soon__dot {
  font-size: 3em;
  line-height: 10px;
  padding-top: 13px;
}
@media screen and (max-width: 599px) {
  .soon__dot {
    font-size: 2.1em;
    line-height: 7px;
    padding-top: 12px;
  }
}
.soon__dot--dot1 {
  animation: soon-dot1 2s infinite;
}
.soon__dot--dot2 {
  animation: soon-dot2 2s infinite;
}
.soon__dot--dot3 {
  animation: soon-dot3 2s infinite;
}

@keyframes soon-dot1 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
}
@keyframes soon-dot2 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}
@keyframes soon-dot3 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.align-menu {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 35px;
  justify-content: center;
}

.menu {
  width: 330px;
  height: 460px;
  box-shadow: 5px 5px 5px #F2F2F2, -5px -5px 5px #F2F2F2;
  display: inline-block;
  margin: 25px;
}
@media screen and (max-width: 599px) {
  .menu {
    width: 260px;
    height: 360px;
  }
}
.menu__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.menu__heading--primary {
  margin: 0;
}
.menu__heading--secondary {
  margin: 20px 0;
}
.menu--scale {
  height: 100%;
}
.menu--scale:hover {
  transition: 1s;
  transform: scale(1.1);
  opacity: 0.5;
}
.menu--img {
  width: 50px;
  height: 50px;
}

.menu1 .menu {
  background-color: #FCDFDB;
}
.menu1 .menu__heading--primary {
  font-family: "Devonshire", cursive, arial, sans-serif;
  font-size: 2.3em;
  background: #3C1218;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu1 .menu__heading--secondary {
  font-family: "Kalam", cursive, arial, sans-serif;
  font-size: 2.2em;
  color: #3C1218;
}
@media screen and (max-width: 599px) {
  .menu1 .menu__heading--primary {
    font-size: 1.6em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .menu1 .menu__heading--secondary {
    font-size: 1.5em;
  }
}

.menu2 .menu {
  background-color: #FFF5FE;
}
.menu2 .menu__heading--primary {
  font-family: "Croissant One", cursive, arial, sans-serif;
  font-size: 1.4em;
  background: -webkit-linear-gradient(280deg, #c77412 30%, #A56699 50%, #905bff 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu2 .menu__heading--secondary {
  font-family: "IBM Plex Serif", serif, arial, sans-serif;
  font-size: 2em;
  color: #c77412;
}
@media screen and (max-width: 599px) {
  .menu2 .menu__heading--primary {
    font-size: 1.1em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .menu2 .menu__heading--secondary {
    font-size: 1.5em;
  }
}

.menu3 .menu {
  background-color: #EDEFEF;
}
.menu3 .menu__heading--primary {
  font-family: "Dancing Script", cursive, arial, sans-serif;
  font-size: 2em;
  background: -webkit-linear-gradient(45deg, #0228DD 20%, #0887FB 55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu3 .menu__heading--secondary {
  font-family: "Kalam", cursive, arial, sans-serif;
  font-size: 2.5em;
  color: #0887FB;
}
@media screen and (max-width: 599px) {
  .menu3 .menu__heading--primary {
    font-size: 1.6em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .menu3 .menu__heading--secondary {
    font-size: 1.5em;
  }
}

.menu4 .menu {
  background-color: #FDFFFD;
}
.menu4 .menu__heading--primary {
  font-family: "Kaushan Script", cursive, arial, sans-serif;
  font-size: 2em;
  background: -webkit-linear-gradient(45deg, #3D9339 20%, #72BF56, #BFFF7E 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu4 .menu__heading--secondary {
  font-family: "Kalam", cursive, arial, sans-serif;
  font-size: 2.5em;
  color: #72BF56;
}
@media screen and (max-width: 599px) {
  .menu4 .menu__heading--primary {
    font-size: 1.6em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .menu4 .menu__heading--secondary {
    font-size: 1.5em;
  }
}

/*# sourceMappingURL=style.css.map */
