.heading {
  width: 100%;
  background-color: #579C87;
  text-align: center;
  font-family: "Work sans", arial, sans-serif;
  border-bottom: solid 2px #A1C181;
  font-size: 1.8em;
  margin-bottom: 35px;
}
@media screen and (max-width: 599px) {
  .heading {
    font-size: 1.3em;
  }
}
.heading--title {
  margin: 0;
  padding: 20px 0;
}
.heading--link {
  color: #FDCB46;
  letter-spacing: -3px;
}
.heading--link:hover {
  text-shadow: #FC0 1px 0 10px;
}

.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  background-color: #579C87;
  justify-content: space-between;
  border-top: solid 2px #A1C181;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
}
@media screen and (max-width: 599px) {
  .footer {
    font-size: 1em;
  }
}
.footer__mentions--link {
  color: #FDCB46;
  padding-left: 10px;
}
.footer__contact--link {
  color: #FDCB46;
  padding-right: 10px;
}
.footer--wiggle:hover {
  display: inline-block;
  animation: wiggle 4s infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  3% {
    transform: rotate(-5deg);
  }
  5% {
    transform: rotate(5deg);
  }
  7% {
    transform: rotate(-5deg);
  }
  9% {
    transform: rotate(5deg);
  }
  11% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
body {
  width: 100%;
  margin: auto;
  text-align: center;
}

a {
  text-decoration: none;
}

.restaurantmini--icone {
  width: 40px;
  height: 40px;
}
@media screen and (max-width: 599px) {
  .restaurantmini--icone {
    width: 30px;
    height: 30px;
  }
}
.restaurantmini--title {
  padding-left: 10px;
  font-size: 1.8em;
}
@media screen and (max-width: 599px) {
  .restaurantmini--title {
    font-size: 1.4em;
  }
}

.resto {
  font-family: "roboto";
  padding-bottom: 30px;
}
@media screen and (max-width: 599px) {
  .resto {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
}

section {
  width: 500px;
  height: 700px;
  box-shadow: 5px 5px 5px #F2F2F2, -5px -5px 5px #F2F2F2;
  margin: auto;
  margin-bottom: 100px;
  padding: 30px 20px;
}
@media screen and (max-width: 599px) {
  section {
    width: auto;
    height: auto;
    margin: 0 10px 100px 10px;
    padding: 30px 10px;
  }
}

.menu {
  margin: 10px 0;
}
@media screen and (max-width: 599px) {
  .menu {
    padding: 0;
  }
}
.menu__title {
  display: flex;
  justify-content: space-between;
}
.menu__title ::after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  transition: width 1s ease;
}
.menu__title :hover::after {
  width: 100%;
}
.menu__title--name {
  font-weight: bold;
}
.menu__list--food {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 599px) {
  .menu__list--food {
    flex-direction: column;
  }
}
.menu__list--food p:nth-child(2) {
  font-weight: bold;
}

.restaurantmini {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 599px) {
  .music-icone {
    width: 40px;
    height: 40px;
  }
}

.menu1 section {
  background-color: #FCDFDB;
}
.menu1 .restaurant {
  font-family: "Devonshire", cursive, arial, sans-serif;
  font-size: 2em;
  background: #3C1218;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: center;
  margin-bottom: 20px;
  margin-top: 0;
}
.menu1 .menu {
  font-family: "Kalam", cursive, arial, sans-serif;
  color: #3C1218;
  padding: 0 30px;
}
.menu1 .menu__title :hover::after {
  background: #3C1218;
}
.menu1 .menu__title--name {
  font-size: 1.1em;
}
.menu1 .menu__title--line {
  padding-top: 12px;
  width: 140px;
  height: 7px;
}
.menu1 .menu__list {
  padding: 10px 0 25px 0;
}
.menu1 .menu__list--food {
  padding: 2px 0;
  font-size: 0.9em;
}
.menu1 .menu__list--food p:nth-child(2) {
  font-size: 1.2em;
}
.menu1 .restaurantmini {
  font-family: "Devonshire", cursive, arial, sans-serif;
  color: #3C1218;
}
@media screen and (max-width: 599px) {
  .menu1 .restaurant {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: center;
    margin-bottom: 15px;
  }
  .menu1 .menu {
    padding: 0 10px;
  }
  .menu1 .menu__title--line {
    width: 65px;
    height: 5px;
  }
  .menu1 .menu__list--food {
    padding: 4px 0;
    font-size: 0.8em;
  }
}

.menu2 section {
  background-color: #FFF5FE;
}
.menu2 .restaurant {
  font-family: "Croissant One", cursive, arial, sans-serif;
  font-size: 1.4em;
  background: -webkit-linear-gradient(280deg, #c77412 30%, #A56699 50%, #905bff 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: center;
  margin-bottom: 60px;
  margin-top: 40px;
}
.menu2 .menu {
  font-family: "IBM Plex Serif", serif, arial, sans-serif;
  color: #c77412;
}
.menu2 .menu--maincourse {
  color: #A56699;
}
.menu2 .menu--dessert {
  color: #6e4ccc;
}
.menu2 .menu__title {
  letter-spacing: 1px;
}
.menu2 .menu__title :hover::after {
  background: -webkit-linear-gradient(280deg, #c77412 30%, #A56699 50%, #905bff 70%);
}
.menu2 .menu__title--name {
  font-size: 0.8em;
}
.menu2 .menu__title--line {
  padding-top: 6px;
  width: 155px;
  height: 8px;
}
.menu2 .menu__list {
  padding: 20px 40px 30px 40px;
}
.menu2 .menu__list--food {
  padding: 7px 0;
  font-size: 0.8em;
}
.menu2 .menu__list--food p:nth-child(2) {
  font-size: 1.1em;
}
.menu2 .restaurantmini {
  font-family: "Croissant One", cursive, arial, sans-serif;
  color: #c77412;
}
@media screen and (max-width: 599px) {
  .menu2 .restaurant {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: center;
    margin-bottom: 40px;
    margin-top: 15px;
  }
  .menu2 .menu__title--name {
    font-size: 0.7em;
  }
  .menu2 .menu__title--line {
    padding-top: 4px;
    width: 60px;
    height: 6px;
  }
  .menu2 .menu__list {
    padding: 20px 10px 30px 10px;
  }
  .menu2 .menu__list--food {
    font-size: 0.7em;
  }
}

.menu3 section {
  background-color: #EDEFEF;
}
.menu3 .restaurant {
  font-family: "Dancing Script", cursive, arial, sans-serif;
  font-size: 2.5em;
  background: -webkit-linear-gradient(45deg, #0228DD 20%, #0887FB 55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: center;
  margin-bottom: 50px;
  margin-top: 20px;
}
.menu3 .menu {
  font-family: "Kalam", cursive, arial, sans-serif;
  color: black;
}
.menu3 .menu__title :hover::after {
  background: -webkit-linear-gradient(45deg, #0228DD 20%, #0887FB 55%);
}
.menu3 .menu__title--name {
  font-size: 1em;
}
.menu3 .menu__title--line {
  padding-top: 10px;
  width: 160px;
  height: 7px;
}
.menu3 .menu__list {
  padding: 10px 30px 25px 30px;
}
.menu3 .menu__list--food {
  padding: 5px 0;
  font-size: 0.8em;
}
.menu3 .menu__list--food p:nth-child(2) {
  font-size: 1.2em;
}
.menu3 .restaurantmini {
  font-family: "Dancing Script", cursive, arial, sans-serif;
  color: #0887FB;
}
@media screen and (max-width: 599px) {
  .menu3 .restaurant {
    font-size: 2em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: center;
    margin-bottom: 40px;
    margin-top: 10px;
  }
  .menu3 .menu__title--line {
    width: 65px;
    height: 5px;
  }
  .menu3 .menu__list {
    padding: 10px 10px 25px 10px;
  }
  .menu3 .menu__list--food {
    padding: 7px 0;
  }
}

.menu4 section {
  background-color: #FDFFFD;
}
.menu4 .restaurant {
  font-family: "Kaushan Script", cursive, arial, sans-serif;
  font-size: 2.5em;
  background: -webkit-linear-gradient(45deg, #3D9339 20%, #72BF56, #BFFF7E 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: center;
  margin-bottom: 50px;
  margin-top: 20px;
}
.menu4 .menu {
  font-family: "Kalam", cursive, arial, sans-serif;
  color: black;
}
.menu4 .menu__title :hover::after {
  background: -webkit-linear-gradient(45deg, #3D9339 20%, #72BF56, #BFFF7E 70%);
}
.menu4 .menu__title--name {
  font-size: 1em;
}
.menu4 .menu__title--line {
  padding-top: 10px;
  width: 180px;
  height: 7px;
}
.menu4 .menu__list {
  padding: 10px 30px 25px 30px;
}
.menu4 .menu__list--food {
  padding: 5px 0;
  font-size: 0.8em;
}
.menu4 .menu__list--food p:nth-child(2) {
  font-size: 1.2em;
}
.menu4 .restaurantmini {
  font-family: "Kaushan Script", cursive, arial, sans-serif;
  color: #72BF56;
}
@media screen and (max-width: 599px) {
  .menu4 .restaurant {
    font-size: 2em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: center;
    margin-bottom: 40px;
    margin-top: 10px;
  }
  .menu4 .menu__title--line {
    width: 70px;
    height: 5px;
  }
  .menu4 .menu__list {
    padding: 10px 10px 25px 10px;
  }
  .menu4 .menu__list--food {
    padding: 7px 0;
  }
}

/*# sourceMappingURL=menu.css.map */
