@mixin menu-accueil($params) {
	.menu {
    	background-color: map-get($params, bgcolor);
    	&__heading {
    		&--primary {
        		font-family: map-get($params, font-primary);
        		font-size: map-get($params,font-size-accueil-primary);
        		background: map-get($params, color-gradient);
        		-webkit-background-clip: text;
            	-webkit-text-fill-color: transparent;
			}
     		&--secondary {
            	font-family: map-get($params, font-secondary);
            	font-size: map-get($params, font-size-accueil-secondary);
            	color: map-get($params,color);
        	}
    	}
	}
}

@mixin menu-block($params) {
	section {
		background-color: map-get($params, bgcolor);
	}

	.restaurant {
		font-family: map-get($params, font-primary);
		font-size: map-get($params, font-size-menu-restaurant);
		background: map-get($params, color-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-position: center;
		margin-bottom: map-get($params, margin-bottom-menu-resto);
		margin-top: map-get($params, margin-top-menu-resto);
	}

	.menu {
		font-family: map-get($params, font-secondary);
		color: map-get($params, color-menu-course);
		padding: map-get($params, padding-menu-block);
		&--starter {
			color: map-get($params, color-starter);
		}
		&--maincourse {
			color: map-get($params, color-maincourse);
		}
		&--dessert {
			color: map-get($params, color-dessert);
		}
		&__title {
			letter-spacing: map-get($params, letter-spacing);
			:hover::after {
  				background: map-get($params, color-gradient);
			}
			&--name {
				font-size: map-get($params, font-size-menu-course);
			}
			&--line {
				padding-top: map-get($params, padding-top-menu-line);
				width: map-get($params, width-menu-line);
				height: map-get($params, height-menu-line);
			}
		}
		&__list {
			padding: map-get($params, padding-menu-list);
			&--food {
				padding: map-get($params, padding-menu-food);
				font-size: map-get($params, font-size-menu-food);
				p:nth-child(2){
					font-size: map-get($params, font-size-menu-price);
				}		
			}
		}
	}

	.restaurantmini {
		font-family: map-get($params, font-primary);
		color: map-get($params, color);
	}
}


@mixin mobile-only {
	@media screen and (max-width: 599px) {
	@content;
	}
}

@mixin form-block ($width, $height) {
		width: $width;
    	height: $height;
    	box-shadow: 5px 5px 5px $color-box-shadow , -5px -5px 5px $color-box-shadow;
}




















