.heading {
    width: 100%;
    background-color: $bgcolor-primary;
    text-align: center;
    font-family: "Work sans", arial, sans-serif;
    border-bottom: solid 2px $border;
    font-size: 1.8em;
    margin-bottom: 35px;
    @include mobile-only {
        font-size: 1.2em;
    }
    &--title {
        margin: 0;
        padding: 20px 0;
    }
    &--link {
        color: $color-primary;
        letter-spacing: -3px;
        &:hover{
        text-shadow: #FC0 1px 0 10px;   
        }
        @include mobile-only {
        &:active {
        text-shadow: #FC0 1px 0 10px;
        }
        }
    }
}