@import "../Utils/mixins";
@import "../Utils/variables";
@import "../Layouts/footer";
@import "../Layouts/header";
@import "../Layouts/forms";
@import "../Pages/menu1footer";

main h1 {
	font-family: 'roboto';
	padding-bottom: 30px;
}

* {
	margin: 0;
	padding: 0;
}

.menu1 {
	$params: map-get($menuParams, menu1);
	@include menu-block($params);
}
