section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
    justify-content: center;
}

.menu {
    	@include form-block (330px, 460px);
    	display: inline-block;
    	margin: 25px;
    	@include mobile-only {
    	width: 260px;
    	height: 360px;
    	}
        &--scale {
            height: 100%;
            &:hover {
                transition: 1s;
                transform: scale(1.1);
                opacity: 0.5;
            }
            @include mobile-only {
                    &:active {
                        transition: 1s;
                        transform: scale(1.1);
                        opacity: 0.5;
                    }
                }
        }
        &--img {
            width: 50px;
            height: 50px;
        }
}

.menu1 {
	$params: map-get($menuParams, menu1);
    $desktopParams: map-get($params, desktop);
    $mobileParams: map-merge($desktopParams, map-get($params, mobile));
    @include menu-accueil($desktopParams);
    @include mobile-only {
        @include menu-accueil($mobileParams);
      }   
}

.menu2 {
	$params: map-get($menuParams, menu2);
    $desktopParams: map-get($params, desktop);
    $mobileParams: map-merge($desktopParams, map-get($params, mobile));
    @include menu-accueil($desktopParams);
    @include mobile-only {
        @include menu-accueil($mobileParams);
      }   
}

.menu3 {
	$params: map-get($menuParams, menu3);
    $desktopParams: map-get($params, desktop);
    $mobileParams: map-merge($desktopParams, map-get($params, mobile));
    @include menu-accueil($desktopParams);
    @include mobile-only {
        @include menu-accueil($mobileParams);
      }   
}

.menu4 {
	$params: map-get($menuParams, menu4);
    $desktopParams: map-get($params, desktop);
    $mobileParams: map-merge($desktopParams, map-get($params, mobile));
    @include menu-accueil($desktopParams);
    @include mobile-only {
        @include menu-accueil($mobileParams);
      }   
}

